<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <div class="card mb-3">
    <svg
      class="bd-placeholder-img card-img-top"
      width="100%"
      height="200"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#868e96"></rect>
    </svg>
    <div class="card-body">
      <h5 class="card-title fw-semibold fs-3"><%= ads.location.method %></h5>
      <p class="text-muted">
        Khu vực: Phường <%= ads.location.ward %>, Quận <%= ads.location.district
        %>
      </p>
      <div class="row border border-2 rounded">
        <div class="col-3">
          <p class="text-muted pt-3">Địa chỉ:</p>
        </div>
        <div class="col-9">
          <p class="pt-3"><%= ads.location.address %></p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-3">
          <p class="text-muted pt-3">Ngày bắt đầu hợp đồng:</p>
        </div>
        <div class="col-9">
          <p class="pt-3">
            <%= moment(ads.created_at).format('hh:mm a MMM DD YYYY'); %>
          </p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-3">
          <p class="text-muted pt-3">Ngày kết thúc hợp đồng:</p>
        </div>
        <div class="col-9">
          <p class="pt-3">
            <%= moment(ads.updated_at).format('hh:mm a MMM DD YYYY') %>
          </p>
        </div>
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-4 pt-3"
      >
        <a
          name=""
          id=""
          class="btn btn-secondary px-4"
          href="/ward/ads"
          role="button"
          >Trở về danh sách</a
        >
        <button
          type="button"
          class="btn btn-primary px-4"
          data-bs-toggle="modal"
          data-bs-target="#imageSlideShow"
        >
          Xem tất cả hình
        </button>
        <a
          name=""
          id=""
          class="btn btn-primary px-4"
          href="/ward/ads/update-info/<%= ads.location._id %>"
          role="button"
          >Cập nhật thông tin</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="imageSlideShow"
  aria-hidden="true"
  aria-labelledby="imageSlideShow"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal-info-detail">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#demo"
              data-bs-slide-to="0"
              class="active"
            ></button>
            <button
              type="button"
              data-bs-target="#demo"
              data-bs-slide-to="1"
            ></button>
            <button
              type="button"
              data-bs-target="#demo"
              data-bs-slide-to="2"
            ></button>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../images/ads1.jpg"
                alt="ads-1"
                class="d-block"
                style="width: 100%"
                loading="lazy"
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../images/ads2.jpg"
                alt="ads-2"
                class="d-block"
                style="width: 100%"
                loading="lazy"
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../images/ads3.jpg"
                alt="ads-3"
                class="d-block"
                style="width: 100%"
                loading="lazy"
              />
            </div>
          </div>

          <!-- Left and right controls/icons -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#demo"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#demo"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        <div class="container-fluid mt-3">
          <p class="text-center">Địa điểm</p>
          <p class="text-center">
            Khu vực: Phường <%= ads.location.ward %>, Quận <%=
            ads.location.district %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
