<div class="col p-3 border-start">
  <div class="user-info d-flex justify-content-end">
    <i class="bi bi-person-circle" style="font-size: 36px"></i>
    <div class="user-text ms-3">
      <h6>Elijah Scott</h6>
      <p class="text-muted">elijarscott@gmail.com</p>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="." class="text-decoration-none text-muted">Bảng quảng cáo</a>
      </li>
      <li
        class="breadcrumb-item active text-dark fw-semibold"
        aria-current="page"
      >
        Thông tin chung
      </li>
    </ol>
  </nav>
  <hr />
  <h2 class="fw-semibold">THÔNG TIN CÁC BẢNG QUẢNG CÁO</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Tìm kiếm"
        aria-label="Search"
      />
    </div>
    <div class="col-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Sắp xếp</option>
      </select>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Hình thức</th>
        <th scope="col">Ngày bắt đầu</th>
        <th scope="col">Ngày hết hạn</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% ads.forEach((element, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td class=""><%= element.location.address %></td>
        <td class=""><%= element.type %></td>
        <td class=""><%= element.created_at.toLocaleTimeString("en-US") %></td>
        <td class=""><%= element.updated_at.toLocaleTimeString("en-US") %></td>
        <td class="">
          <a href="/ward/ads/view/<%= element._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
        <td class="">
          <a href="/ward/ads/update-info/<%= element._id %>">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (ads.length > 0) { %>
  <nav aria-label="Dashboard Pagination">
    <ul class="pagination justify-content-center mt-5">
      <% if (current == 1) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link">First</a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a href="/ward/ads?page=1" class="page-link">First</a>
      </li>
      <% } %> <% i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i
      != 1) { %>
      <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
      <% } %> <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %> <%
      if (i == current) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link"><%= i %></a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a href="/ward/ads?page=<%= i %>" class="page-link"><%= i %></a>
      </li>
      <% } %> <% if (i == Number (current) + 4 && i < pages) { %>
      <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
      <% } %> <% } %> <% if (current == pages) { %>
      <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
      <% } else { %>
      <li class="page-item">
        <a href="/ward/ads?page=<%= pages %>" class="page-link">Last</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>
</div>
