<!-- Sidebar -->
<div class="col-auto col-md-3 col-xl-2 px-sm-3 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center pt-2 min-vh-100 pt-5">
    <a href="/department" class="pb-5 mb-md-0">
      <img src="/images/AdHubPro.png" alt="" />
    </a>
    <ul class="nav nav-pills flex-column gap-2 mb-sm-auto mb-0 w-100" id="menu">
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'location' && 'current-nav-item' %>"
      >
        <a
          href="/department/location"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi-geo-alt"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold"
            >Điểm đặt quảng cáo</span
          >
        </a>
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'ads' && 'current-nav-item' %>"
      >
        <a
          href="/department/ads"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi-badge-ad"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold"
            >Bảng quảng cáo</span
          >
        </a>
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'proposal' && 'current-nav-item' %>"
      >
        <a
          href="/department/proposal"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi bi-pen"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold"
            >Yêu cầu chỉnh sửa</span
          >
        </a>
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'request' && 'current-nav-item' %>"
      >
        <a
          href="/department/request"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi bi-envelope"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold"
            >Yêu cầu cấp phép</span
          ></a
        >
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'statistic' && 'current-nav-item' %>"
      >
        <a
          href="/department/statistic"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi bi-bar-chart"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold">Thống kê</span></a
        >
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'account' && 'current-nav-item' %>"
      >
        <a
          href="/department/account"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi bi-people"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold"
            >Quản lí tài khoản</span
          >
        </a>
      </li>
    </ul>
    <hr />
  </div>
</div>
