<div class="menu-user">
  <div
    class="user-info d-flex justify-content-end"
    onclick="handleUserMenu()"
    style="cursor: pointer"
  >
    <i class="bi bi-person-circle" style="font-size: 36px"></i>
    <div class="user-text ms-3 d-flex align-items-center">
      <h6><%= user.fullname %></h6>
    </div>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="." class="text-decoration-none text-muted"
        ><%= header.navRoot %></a
      >
    </li>
    <li
      class="breadcrumb-item active text-dark fw-semibold"
      aria-current="page"
    >
      <%= header.navCurrent %>
    </li>
  </ol>
</nav>
<script>
  const handleUserMenu = () => {
    const menu = document.querySelector(".menu");

    if (menu) {
      menu.remove();
    } else {
      const elm = document.createElement("div");
      elm.innerHTML = `
      <div class="info">
          <h3><%= user.fullname %></h3>
          <div class="pb-2"><%= user.email %></div>
      </div>
      <a href="<%= user.workDir %>/change-password" class="change-pass">Đổi mật khẩu</a>
      <form action="/auth/logout" method="POST" id='logout' class="logout">
        <a onclick="logout.submit()">Đăng xuất</a>
      </form>
    `;
      elm.className = "menu";
      document.querySelector(".menu-user").appendChild(elm);
    }
  };
</script>
