<!-- Sidebar -->
<div class="col-auto col-md-3 col-xl-2 px-sm-3 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center pt-2 min-vh-100 pt-5">
    <a href="<%= user.workDir %>" class="pb-5 mb-md-0">
      <img src="/images/AdHubPro.png" alt="" />
    </a>
    <ul class="nav nav-pills flex-column gap-2 mb-sm-auto mb-0 w-100" id="menu">
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'home' && 'current-nav-item' %>"
      >
        <a
          href="<%= user.workDir %>"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold">Trang chủ</span>
        </a>
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'location' && 'current-nav-item' %>"
      >
        <a
          href="<%= user.workDir %>/location"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi-geo-alt"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold"
            >Điểm đặt quảng cáo</span
          >
        </a>
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'ads' && 'current-nav-item' %>"
      >
        <a
          href="<%= user.workDir %>/ads"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi-badge-ad"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold"
            >Bảng quảng cáo</span
          ></a
        >
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'report' && 'current-nav-item' %>"
      >
        <a
          href="<%= user.workDir %>/report"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi-exclamation-octagon"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold">Báo cáo</span></a
        >
      </li>
      <li
        class="nav-item w-100 p-2 rounded <%= pageName === 'request' && 'current-nav-item' %>"
      >
        <a
          href="<%= user.workDir %>/request"
          class="d-flex flex-row gap-1 align-items-center text-decoration-none text-light"
        >
          <i class="fs-4 bi-envelope"></i>
          <span class="ms-1 d-none d-sm-inline fw-semibold"
            >Yêu cầu cấp phép</span
          >
        </a>
      </li>
    </ul>
    <hr />
  </div>
</div>
