<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <div class="card mb-3">
    <svg
      class="bd-placeholder-img card-img-top"
      width="100%"
      height="200"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#868e96"></rect>
    </svg>
    <div class="card-body">
      <h5 class="card-title fw-semibold fs-3"><%= ads.location.method %></h5>
      <p class="text-muted">
        Khu vực: Phường <%= ads.location.ward %>, Quận <%= ads.location.district
        %>
      </p>
      <div class="row border border-2 rounded">
        <div class="col-3">
          <p class="text-muted pt-3">Địa chỉ:</p>
        </div>
        <div class="col-9">
          <p class="pt-3"><%= ads.location.address %></p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-3">
          <p class="text-muted pt-3">Loại bảng:</p>
        </div>
        <div class="col-9">
          <p class="pt-3"><%= ads.type %></p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-3">
          <p class="text-muted pt-3">Kích thước:</p>
        </div>
        <div class="col-9">
          <p class="pt-3"><%= ads.size %></p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-3">
          <p class="text-muted pt-3">Ngày bắt đầu hợp đồng:</p>
        </div>
        <div class="col-9">
          <p class="pt-3">
            <%= ads.effective ? moment(ads.effective).format('DD-MM-YYYY') : "Chưa có hợp đồng" %>
          </p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-3">
          <p class="text-muted pt-3">Ngày kết thúc hợp đồng:</p>
        </div>
        <div class="col-9">
          <p class="pt-3">
            <%= ads.expiration ? moment(ads.expiration).format('DD-MM-YYYY') : "Chưa có hợp đồng" %>
          </p>
        </div>
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-4 pt-3"
      >
        <a
          name=""
          id=""
          class="btn btn-secondary px-4"
          href="/department/ads"
          role="button"
          >Trở về danh sách</a
        >
        <button
          type="button"
          class="btn btn-primary px-4"
          data-bs-toggle="modal"
          data-bs-target="#imageSlideShow"
          <%= ads.images.length ? "" : "disabled" %>
        >
          Xem tất cả hình
        </button>
        <a
          name=""
          id=""
          class="btn btn-primary px-4"
          href="/department/ads/update-info/<%= ads._id %>"
          role="button"
          >Cập nhật thông tin</a
        >
        <button
          type="button"
          class="btn btn-danger px-4"
          data-bs-toggle="modal"
          data-bs-target="#removeAds"
        >
          Xóa bảng quảng cáo
        </button>
      </div>
    </div>
  </div>
</div>
<form method="POST" action="../<%= ads._id %>/remove" id="removeForm" style="display: none;"></form>

<!-- Modal -->
<div
  class="modal fade"
  id="imageSlideShow"
  aria-hidden="true"
  aria-labelledby="imageSlideShow"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal-info-detail">
        <div id="slide" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <% ads.images.forEach((img, index) => { %>
              <button
                type="button"
                data-bs-target="#slide"
                data-bs-slide-to="<%= index %>"
                class="<%= index == 0 ? 'active' : '' %>"
              ></button>
            <% }) %>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <% ads.images.forEach((img, index) => { %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <img
                  src="<%= img %>"
                  alt="image-<%= index %>"
                  class="d-block"
                  style="width: 100%"
                  loading="lazy"
                />
              </div>
            <% }) %>
          </div>
          <!-- Left and right controls/icons -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#slide"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#slide"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        <div class="container-fluid mt-3">
          <p class="text-center">Địa điểm</p>
          <p class="text-center">
            Khu vực: Phường <%= ads.location.ward %>, Quận <%=
            ads.location.district %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="removeAds"
  aria-hidden="true"
  aria-labelledby="removeAds"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa bảng quảng cáo này?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-danger" id="remove-btn">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("remove-btn").addEventListener("click", () => {
    removeForm.submit();
  });
</script>
