<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">THÔNG TIN CÁC BẢNG QUẢNG CÁO</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <form role="search" method="GET" action="/department/ads/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          name="searchTerm"
        />
      </form>
    </div>
    <div class="col-3">
      <a href="/department/ads/create" class="btn btn-primary">
        Thêm bảng quảng cáo mới
      </a>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col" class="col-5">Địa chỉ</th>
        <th scope="col">Loại bảng</th>
        <th scope="col">Kích thước</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% ads.forEach((element, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td>
          <%= (element.location.address.length > 55 ?
          element.location.address.substring(0, 55) + '...' :
          element.location.address) %>
        </td>
        <td class=""><%= element.type %></td>
        <td><%= element.size %></td>
        <td class="">
          <a href="/department/ads/view/<%= element._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
        <td class="">
          <a href="/department/ads/update-info/<%= element._id %>">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (ads.length > 0) { %> <%- include('../../partials/pagination.ejs') %> <%
  } %>
</div>
