<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">THÔNG TIN CÁC QUẬN</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <a
        href=""
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addDistrictModal"
      >
        Thêm quận mới
      </a>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên</th>
        <th scope="col">Danh sách phường</th>
        <th scope="col" class="text-center">Thêm phường</th>
        <th scope="col" class="text-center">Xóa phường</th>
        <th scope="col" class="text-center">Xóa quận</th>
      </tr>
    </thead>
    <tbody>
      <% districts.forEach((district, index) => { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td>Quận <%= district.name %></td>
        <td>
          <select class="form-select wards" name="wards" aria-label="">
            <% district.wards.forEach((ward) => { %>
            <option value=""><%= ward %></option>
            <% }) %>
          </select>
        </td>
        <td class="text-center">
          <i
            role="button"
            class="fs-4 bi bi-plus-square"
            data-selected-district="<%= district.name %>"
            data-selected-district-id="<%= district._id %>"
            data-bs-toggle="modal"
            data-bs-target="#addWardModal"
            onclick="showAddWardModal(this)"
          ></i>
        </td>
        <td class="text-center">
          <i
            class="fs-4 bi bi-dash-square"
            style="cursor: pointer"
            data-selected-ward-list="<%= district.wards %>"
            data-bs-toggle="modal"
            data-bs-target="#deleteWard"
            onclick="showDeleteWardModal(this)"
          ></i>
        </td>
        <td class="text-center">
          <i
            role="button"
            class="fs-4 bi bi-dash-square"
            style="color: red; cursor: pointer"
            data-bs-toggle="modal"
            data-bs-target="#deleteDistrict"
          ></i>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<!-- Add new district Modal -->
<div
  class="modal fade"
  id="addDistrictModal"
  tabindex="-1"
  aria-labelledby="addDistrictLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form
      id="addDistrictForm"
      method="POST"
      action="/department/administrative/add-district"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="districtModalTitle">
            Thêm quận mới
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <label for="new-district" class="form-label">Tên quận</label>
          <input
            type="text"
            id="new-district"
            name="value"
            class="form-control w-100"
            placeholder="Nhập vào tên quận"
            required
            data-autofocus
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
            id="closeBtn"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Add new ward Modal -->
<div
  class="modal fade"
  id="addWardModal"
  tabindex="-1"
  aria-labelledby="addWardLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form
      id="addWardForm"
      method="POST"
      action="/department/administrative/add-ward"
      novalidate
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="wardModalTitle">Thêm phường mới</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="col mb-3">
            <label for="selected-district" class="form-label">Quận</label>
            <input
              type="text"
              id="selected-district"
              class="form-control"
              disabled
            />
            <input
              type="email"
              id="selected-district-id"
              name="districtId"
              style="display: none"
            />
          </div>
          <div class="col mb-3">
            <label for="new-ward" class="form-label">Tên phường</label>
            <input
              type="text"
              id="new-ward"
              name="ward"
              class="form-control w-100"
              placeholder="Nhập vào tên phường"
              required
              data-autofocus
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
            id="closeBtn"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Delete ward Modal -->
<div
  class="modal fade"
  id="deleteWard"
  tabindex="-1"
  aria-labelledby="deleteWardLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form id="deleteWardForm" method="POST" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="wardModalTitle">Xóa phường</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="col mb-3">
            <label for="wardsDelete" class="form-label"
              >Chọn phường muốn xóa</label
            >
            <select
              class="form-select wardsDelete"
              name="wardsDelete"
              aria-label=""
            ></select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
            id="closeBtn"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Delete Method Modal -->
<div
  class="modal fade"
  id="deleteDistrict"
  tabindex="-1"
  aria-labelledby="deleteDistrictLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteDistrictLabel">Xác nhận</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Bạn có chắc chắn muốn xóa quận này?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-danger" id="delete-btn">Có</button>
      </div>
    </div>
  </div>
</div>
