<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <div class="card bg-light mb-3">
    <!-- <div class="card-header">Xử lý báo cáo</div> -->
    <div class="card-body p-4">
      <h4 class="card-title py-2"><%= report.location.address %></h4>
      <p class="text-muted">
        Khu vực: Phường <%= report.location.ward %>, Quận <%=
        report.location.district %>
      </p>
      <div class="row border border-2 rounded">
        <div class="col-2">
          <p class="text-muted pt-3">Loại báo cáo:</p>
        </div>
        <div class="col-10">
          <p class="pt-3">
            <% if (report.type == "ads") { %> Bảng quảng cáo <% } else {%> Điểm
            đặt quảng cáo <% } %>
          </p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-2">
          <p class="text-muted pt-3">Thông tin người gửi:</p>
        </div>
        <div class="col-10">
          <p class="pt-3">
            <%= report.reporter.name %> - <%= report.reporter.phone %> - <%=
            report.reporter.email %>
          </p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col">
          <div class="row">
            <div class="col-4">
              <p class="text-muted pt-3">Thời gian gửi báo cáo:</p>
            </div>
            <div class="col-8">
              <p class="pt-3">
                <%= report.created_at.toLocaleTimeString("en-US") %>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-4">
              <p class="text-muted pt-3">Hình thức báo cáo:</p>
            </div>
            <div class="col-8">
              <p class="pt-3">Giải đáp thắc mắc</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-2">
          <p class="text-muted pt-3">Trạng thái xử lý:</p>
        </div>
        <div class="col-10">
          <p class="pt-3">
            <% if (report.processed) { %> Đã xử lí <% } else {%> Chưa xử lí <% }
            %>
          </p>
        </div>
      </div>
      <div class="row border border-2 rounded mb-3">
        <div class="col-2">
          <p class="text-muted pt-3">Nội dung báo cáo:</p>
        </div>
        <div class="col-10">
          <p class="pt-3"><%= report.content %></p>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <a href="..">
          <button type="button" class="btn btn-secondary me-4">Trở về</button>
        </a>
        <button
          type="button"
          class="btn btn-primary me-4"
          data-bs-toggle="modal"
          data-bs-target="#detail"
          <%= report.images.length ? "" : "disabled" %>
        >
          Xem tất cả hình
        </button>
        <a href="../process/<%= report._id %>">
          <button type="button" class="btn btn-primary">Xử lý báo cáo</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="detail"
  aria-hidden="true"
  aria-labelledby="detail"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal-info-detail">
        <div id="slide" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <% report.images.forEach((image, index) => { %>
            <button
              type="button"
              data-bs-target="#slide"
              data-bs-slide-to="<%= index %>"
            ></button>
            <% }) %>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <% report.images.forEach((image, index) => { %>
            <div class="carousel-item <%= index ? '': 'active' %>">
              <img
                src="<%= image %>"
                alt="image-<%= index %>"
                class="d-block"
                style="width: 100%"
              />
            </div>
            <% }) %>
          </div>

          <!-- Left and right controls/icons -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#slide"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#slide"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
