<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">THÔNG TIN CÁC YÊU CẦU CHỈNH SỬA ĐÃ ĐƯỢC GỬI</h2>
  <div class="row justify-content-end">
    <div class="col-4">
      <form role="search" method="GET" action="/department/proposal/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          name="searchTerm"
        />
      </form>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col" class="col-5">Địa chỉ</th>
        <th scope="col">Loại thay đổi</th>
        <th scope="col">Tình trạng</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% proposal.forEach((element, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td>
          <%= (element.location.address.length > 55 ?
          element.location.address.substring(0, 55) + '...' :
          element.location.address) %>
        </td>
        <td class=""><%= element.type %></td>
        <td class=""></td>
        <td class="">
          <a href="/department/proposal/view/<%= element._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (proposal.length > 0) { %> <%- include('../../partials/pagination.ejs')
  %> <% } %>
</div>
