<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">THÔNG TIN CÁC ĐIỂM ĐẶT QUẢNG CÁO</h2>
  <div class="row justify-content-end">
    <div class="col-4">
      <form role="search" method="POST" action="/district/location/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          name="searchTerm"
        />
      </form>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col" class="col-5">Địa chỉ</th>
        <th scope="col">Phân loại</th>
        <th scope="col" class="col-2">Hình thức</th>
        <th scope="col">Tình trạng</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% locations.forEach((location, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td class="">
          <%= (location.address.length > 55 ? location.address.substring(0, 55)
          + '...' : location.address) %>
        </td>
        <td class="">
          <%= (location.type.length > 20 ? location.type.substring(0, 20) +
          '...' : location.type) %>
        </td>
        <td class=""><%= location.method %></td>
        <td class="">
          <% if (location.accepted) { %>
          <span class="badge bg-success w-100">Đã quy hoạch</span> <% } else {
          %> <span class="badge bg-danger w-100">Chưa quy hoạch</span> <% } %>
        </td>
        <td class="">
          <a href="/district/location/view/<%= location._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
        <td class="">
          <a href="/district/location/update-info/<%= location._id %>">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (locations.length > 0) { %>
  <nav aria-label="Dashboard Pagination">
    <ul class="pagination justify-content-center mt-5">
      <% if (current == 1) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link">First</a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a href="/district/location?page=1" class="page-link">First</a>
      </li>
      <% } %> <% i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i
      != 1) { %>
      <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
      <% } %> <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %> <%
      if (i == current) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link"><%= i %></a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a href="/district/location?page=<%= i %>" class="page-link"><%= i %></a>
      </li>
      <% } %> <% if (i == Number (current) + 4 && i < pages) { %>
      <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
      <% } %> <% } %> <% if (current == pages) { %>
      <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
      <% } else { %>
      <li class="page-item">
        <a href="/district/location?page=<%= pages %>" class="page-link">Last</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>
</div>
