<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">THÔNG TIN CÁC YÊU CẦU CẤP PHÉP ĐÃ ĐƯỢC GỬI</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <form
        action="/district/request/filter"
        method="POST"
        class="filter-wards"
      >
        <select
          class="form-select"
          name="select"
          multiple
          multiselect-search="true"
          multiselect-select-all="true"
        >
          <% district.wards.forEach((ward, index) => { %>
          <option value="<%= ward %>">Phường <%= ward %></option>
          <% }) %>
        </select>
      </form>
    </div>
    <div class="col-3">
      <form role="search" method="GET" action="/district/request/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          name="searchTerm"
        />
      </form>
    </div>
    <div class="col-3">
      <a href="/district/request/create" class="btn btn-primary">
        Tạo yêu cầu mới
      </a>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col" class="col-5">Điểm đặt</th>
        <th scope="col">Loại bảng quảng cáo</th>
        <th scope="col">Công ty</th>
        <th scope="col">Tình trạng</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% request.forEach((element, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td class="">
          <%= (element.ads.location.address.length > 55 ?
          element.ads.location.address.substring(0, 55) + '...' :
          element.ads.location.address) %>
        </td>
        <td class=""><%= element.ads.type %></td>
        <td class=""><%= element.company.name %></td>
        <td class="">
          <% if (element.status === 'pending') { %>
          <span class="badge bg-warning w-100">Chờ duyệt</span>
          <% } else if (element.status === 'accepted') { %>
          <span class="badge bg-success w-100">Đã duyệt</span>
          <% } else { %>
          <span class="badge bg-danger w-100">Không duyệt</span>
          <% } %>
        </td>
        <!-- toLocaleTimeString("en-US") -->
        <td class="">
          <a href="/district/request/view/<%= element._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
        <!-- <td class="">
          <a
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-x-circle-fill"></i>
          </a>
        </td> -->
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (request.length > 0) { %> <%- include('../../partials/pagination.ejs')
  %> <% } %>
</div>
