<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr/>
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">QUẢN LÍ TÀI KHOẢN CÁN BỘ PHƯỜNG, QUẬN</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Tìm kiếm"
        aria-label="Search"
      />
    </div>
    <div class="col-3">
      <a href="/department/account/create">
        <button class="btn btn-primary px-4" type="button">
          Tạo tài khoản
        </button>
      </a>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">EMAIL</th>
        <th scope="col">HỌ TÊN</th>
        <th scope="col">CHỨC VỤ</th>
        <th scope="col">SĐT</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% accounts.forEach((account, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td class=""><%= account.email %></td>
        <td class=""><%= account.fullname %></td>
        <td class="">
          <% if (account.role == 'ward_officer') { %>
          <span>Cán bộ phường</span>
          <% } else if (account.role == 'district_officer') { %>
          <span>Cán bộ quận</span>
          <% } else { %>
          <span>Cán bộ sở</span>
          <% } %>
        </td>
        <td class=""><%= account.phone %></td>
        <td class="d-flex gap-4 fs-5">
          <a href="/department/account/view/<%= account._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (accounts.length > 0) { %> <%- include('../../partials/pagination.ejs') %> <%
  } %>
</div>
<!-- Remove Account Modal -->
<div
  class="modal fade"
  id="removeAccount"
  aria-hidden="true"
  aria-labelledby="removeAccount"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa người dùng này?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
