<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <div class="card bg-light mb-3">
    <div class="card-body p-4">
      <h4 class="card-title py-2 fw-semibold">Cập nhật tài khoản</h4>
      <form method="POST" class="d-flex flex-column pb-4" id="form">
        <div class="row py-3">
          <div class="col-5">
            <label for="" class="form-label"
              >Họ tên</label
            >
            <input type="text" class="form-control" placeholder="Họ tên" name="fullname" value="<%= account.fullname %>" />
          </div>
          <div class="col-3">
            <label for="" class="form-label"
              >Ngày sinh</label
            >
            <input type="date" class="form-control text-secondary" name="birthdate" <% if (account.birthdate != undefined ) { %> value="<%= moment(account.birthdate).format('YYYY-MM-DD'); %>" <% } %>/>
          </div>
          <div class="col-3">
            <label for="" class="form-label d-block"
              >Giới tính</label
            >
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="inlineRadio1"
                value="male"
                <%= account.gender === true ? 'checked' : ''%>
              />
              <label class="form-check-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="inlineRadio2"
                value="female"
                <%= account.gender === false ? 'checked' : ''%>
              />
              <label class="form-check-label" for="inlineRadio2">Nữ</label>
            </div>
          </div>
        </div>

        <div class="row py-3">
          <div class="col-5">
            <label for="" class="form-label"
              >Số điện thoại</label
            >
            <input
              type="phone"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              placeholder="Số điện thoại"
              name="phone"
              value="<%= account.phone %>"
            />
          </div>
          <div class="col-5">
            <label for="" class="form-label"
              >CMND/CCCD</label
            >
            <input
              type="text"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              name="identity_code"
              placeholder="CMND/CCCD"
              value="<%= account.identity_code %>"
            />
          </div>
        </div>

        <div class="row py-3">
          <div class="col-5">
            <label for="" class="form-label"
              >Email</label
            >
            <input
              type="email"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              placeholder="Email"
              name="email"
              value="<%= account.email %>"
            />
          </div>
          <div class="col-5">
            <label for="" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              required
              id=""
              aria-describedby="helpId"
              placeholder="Password"
              name="password"
            />
          </div>
        </div>

        <div
          class="d-flex flex-row justify-content-center align-items-center gap-4 pt-5"
        >
          <a
            name=""
            id=""
            class="btn btn-secondary px-4"
            href="/department/account"
            role="button"
            >Trở về</a
          >
          <a
            name=""
            id=""
            class="btn btn-primary px-4"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#updateAccount"
            >Cập nhật</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Update Account Modal -->
<div
  class="modal fade"
  id="updateAccount"
  aria-hidden="true"
  aria-labelledby="updateAccount"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn cập nhật những thay đổi này?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-primary" id="submit-btn" data-bs-dismiss="modal">
            Cập nhật
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("submit-btn").addEventListener("click", () => {
    form.submit();
  });
</script>