<!-- Right Part -->
<div class="col p-3 border-start">
  <div class="user-info d-flex justify-content-end">
    <i class="bi bi-person-circle" style="font-size: 36px"></i>
    <div class="user-text ms-3">
      <h6>Elijah Scott</h6>
      <p class="text-muted">elijarscott@gmail.com</p>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/ward/location" class="text-decoration-none text-muted"
          >Địa điểm quảng cáo</a
        >
      </li>
      <li
        class="breadcrumb-item active text-dark fw-semibold"
        aria-current="page"
      >
        Cập nhật thông tin
      </li>
    </ol>
  </nav>
  <hr />
  <form method="POST" id="form" class="card bg-light mb-1" enctype="multipart/form-data">
    <div class="card-body p-3">
      <h4 class="card-title py-3 fw-semibold">Yêu cầu cập nhật thông tin</h4>
      <div class="d-flex flex-column px-3 mb-3">
        <label for="" class="form-label"
          >Địa điểm</label
        >
        <div
          class="d-flex flex-row gap-4 align-items-start text-secondary w-100"
        >
          <input
            type="text"
            class="form-control w-auto flex-grow-1"
            required
            id=""
            aria-describedby="helpId"
            placeholder="Địa chỉ"
            name="address"
            value="<%= location.address %>"
          />
          <input
            type="text"
            class="form-control w-auto"
            required
            id=""
            aria-describedby="helpId"
            placeholder="Phường"
            name="ward"
            value="<%= location.ward %>"
          />
          <input
            type="text"
            class="form-control w-auto"
            required
            id=""
            aria-describedby="helpId"
            placeholder="Quận"
            name="district"
            value="<%= location.district %>"
          />
        </div>
      </div>

      <div class="d-flex px-3 mb-3 gap-5">
        <div class="">
          <label for="" class="form-label"
            >Hình thức quảng cáo</label
          >
          <select
            class="form-select text-secondary w-auto"
            name="method"
            id="method_select"
          >
            <option value="" <%= location.method ? '' : 'selected'%> >Vui lòng chọn</option>
            <option value="Cổ động chính trị" <%= location.method === "Cổ động chính trị" ? 'selected' : ''%> >Cổ động chính trị</option>
            <option value="Quảng cáo thương mại" <%= location.method === "Quảng cáo thương mại" ? 'selected' : ''%> >Quảng cáo thương mại</option>
            <option value="Xã hội hóa" <%= location.method === 'Xã hội hóa' ? 'selected' : ''%> >Xã hội hóa</option>
          </select>
        </div>
        <div class="">
          <label for="" class="form-label"
            >Loại vị trí</label
          >
          <select
            class="form-select text-secondary w-auto"
            name="type"
            id="method_select"
          >
            <option value="" <%= location.type ? '' : 'selected'%>>Vui lòng chọn</option>
            <option <%= location.type === "Đất công/Công viên/Hành lang an toàn giao thông" ? 'selected' : ''%> value="Đất công/Công viên/Hành lang an toàn giao thông">Đất công/Công viên/Hành lang an toàn giao thông</option>
            <option <%= location.type === "Đất tư nhân/Nhà ở riêng lẻ" ? 'selected' : ''%> value="Đất tư nhân/Nhà ở riêng lẻ">Đất tư nhân/Nhà ở riêng lẻ</option>
            <option <%= location.type === "Trung tâm thương mại" ? 'selected' : ''%> value="Trung tâm thương mại">Trung tâm thương mại</option>
            <option <%= location.type === "Chợ" ? 'selected' : ''%> value="Chợ">Chợ</option>
            <option <%= location.type === "Cây xăng" ? 'selected' : ''%> value="Cây xăng">Cây xăng</option>
            <option <%= location.type === "Nhà chờ xe buýt" ? 'selected' : ''%> value="Nhà chờ xe buýt">Nhà chờ xe buýt</option>
          </select>
        </div>
      </div>

      <div class="d-flex px-3 gap-5">
        <div>
          <label for="" class="form-label"
            >Trạng thái quy hoạch</label
          >
          <div class="form-check pb-1">
            <input
              class="form-check-input"
              type="radio"
              name="accepted"
              id="flexRadioDefault1"
              <%= location.accepted ? '' : 'checked'%>
              value="false"
            />
            <label
              class="form-check-label text-secondary"
              for="flexRadioDefault1"
            >
              Chưa quy hoạch
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="accepted"
              id="flexRadioDefault2"
              <%= location.accepted ? 'checked' : ''%>
              value="true"
            />
            <label
              class="form-check-label text-secondary"
              for="flexRadioDefault2"
            >
              Đã quy hoạch
            </label>
          </div>
        </div>
        <div>
          <label for="" class="form-label">Số lượng điểm đặt quảng cáo</label>
          <input
            type="text"
            class="form-control w-auto"
            required
            id=""
            aria-describedby="helpId"
            placeholder="1"
            name="ads_count"
            value="<%= location.ads_count || 0 %>"
          />
        </div>
      </div>
      <div class="px-3 gap-5">
        <label for="file_inp" class="form-label pt-3"
          >Hình ảnh thực tế
        </label>
        <div class="input-group input-daterange">
          <input
            type="file"
            class="form-control text-secondary"
            id="file_inp"
            placeholder="Chưa có file được chọn"
            aria-describedby="fileHelpId"
            multiple
            name="images"
          />
        </div>
      </div>
      <div class="px-3 gap-5">
        <label for="exampleFormControlTextarea1" class="form-label pt-3">Lý do chỉnh sửa<span class="text-danger"> *</span></label>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Lý do chỉnh sửa..." value=""></textarea>
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-4 pt-5"
      >
        <a
          name=""
          id=""
          class="btn btn-secondary px-4"
          href="/ward/location/"
          role="button"
          >Trở về danh sách</a
        >
        <button
          type="button"
          name=""
          id=""
          class="btn btn-primary px-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Gửi yêu cầu
        </button>
      </div>
    </div>
  </form>
</div>
<!--Alert-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn gửi yêu cầu thay đổi?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-primary" id="submit-btn">
          Gửi yêu cầu
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("submit-btn").addEventListener("click", () => {
    form.submit();
  });
</script>