<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <div class="card bg-light mb-3">
    <div class="card-body p-4">
      <h4 class="card-title py-2">Báo cáo</h4>
      <p class="text-muted">Địa chỉ: <%= report.location.address %></p>
      <div class="row border border-2 rounded">
        <div class="col-2">
          <p class="text-muted pt-3">Thông tin người gửi:</p>
        </div>
        <div class="col-10">
          <p class="pt-3">
            <%= report.reporter.name %> - <%= report.reporter.phone %> - <%=
            report.reporter.email %>
          </p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-2">
          <p class="text-muted pt-3">Thời gian gửi báo cáo:</p>
        </div>
        <div class="col-10">
          <p class="pt-3">
            <%= moment(report.created_at).format('DD/MM/YYYY') %>
          </p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-2">
          <p class="text-muted pt-3">Hình thức báo cáo:</p>
        </div>
        <div class="col-10">
          <p class="pt-3"><%= report.method %></p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-2">
          <p class="text-muted pt-3">Trạng thái xử lý:</p>
        </div>
        <div class="col-10">
          <p class="pt-3">
            <% if (report.status == 'pending') { %>
            <span class="badge bg-danger">Chờ xử lý</span>
            <% } else if (report.status == 'processing') { %>
            <span class="badge bg-warning">Đang xử lý</span>
            <% } else { %>
            <span class="badge bg-success">Đã xử lý</span>
            <% } %>
          </p>
        </div>
      </div>
      <div class="row border border-2 rounded">
        <div class="col-2">
          <p class="text-muted pt-3">Nội dung báo cáo:</p>
        </div>
        <div class="col-10">
          <div class="pt-3"><%- report.content %></div>
        </div>
      </div>
      <div class="row border border-2 rounded mb-3">
        <div class="col-2">
          <p class="text-muted pt-3">Cách thức xử lý:</p>
        </div>
        <div class="col-10">
          <p class="pt-3"><%= report.response %></p>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <a href="/department/statistic/overview">
          <button type="button" class="btn btn-secondary me-4">
            Trở về danh sách
          </button>
        </a>
        <button
          type="button"
          class="btn btn-primary me-4"
          data-bs-toggle="modal"
          data-bs-target="#imageSlideShow"
          <%= report.images.length ? "" : "disabled" %>
        >
          Xem tất cả hình
        </button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="imageSlideShow"
  aria-hidden="true"
  aria-labelledby="imageSlideShow"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal-info-detail">
        <div id="slide" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <% report.images.forEach((img, index) => { %>
              <button
                type="button"
                data-bs-target="#slide"
                data-bs-slide-to="<%= index %>"
                class="<%= index == 0 ? 'active' : '' %>"
              ></button>
            <% }) %>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <% report.images.forEach((img, index) => { %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <img
                  src="<%= img %>"
                  alt="image-<%= index %>"
                  class="d-block"
                  style="width: 100%"
                  loading="lazy"
                />
              </div>
            <% }) %>
          </div>
          <!-- Left and right controls/icons -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#slide"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#slide"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
