<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">THỐNG KÊ BÁO CÁO VÀ CÁCH XỬ LÝ</h2>
  <div class="row justify-content-center">
    <div class="col-3">
      <form role="search" method="GET" action="/department/report/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          name="searchTerm"
        />
      </form>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="/department/statistic" role="button"
        >Xem biểu đồ</a
      >
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Loại</th>
        <th scope="col">Người báo cáo</th>
        <th scope="col">Thời gian</th>
        <th scope="col">Tình trạng</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% reports.forEach((report, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td>
          <%= (report.location.address.length > 55 ?
          report.location.address.substring(0, 55) + '...' :
          report.location.address) %>
        </td>
        <td class=""><%= report.type %></td>
        <td class=""><%= report.reporter.name %></td>
        <td class=""><%= moment(report.created_at).format('DD-MM-YYYY') %></td>
        <td class="">
          <% if (report.status == 'pending') { %>
          <span class="badge bg-danger w-100">Chờ xử lý</span>
          <% } else if (report.status == 'processing') { %>
          <span class="badge bg-warning w-100">Đang xử lý</span>
          <% } else { %>
          <span class="badge bg-success w-100">Đã xử lý</span>
          <% } %>
        </td>
        <td class="">
          <a href="/department/report/view/<%= report._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (reports.length > 0) { %>
    <%- include('../../partials/pagination.ejs') %>
  <% } %>
</div>

<!-- Modal Remove -->
<div
  class="modal fade"
  id="removeLocation"
  aria-hidden="true"
  aria-labelledby="removeLocation"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa thông tin điểm đặt quảng cáo này?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
