<!-- Right Part -->
<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">THÔNG TIN CÁC BÁO CÁO</h2>
  <div class="row justify-content-end">
    <div class="col-4">
      <form role="search" method="POST" action="/district/report/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          name="searchTerm"
        />
      </form>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">THỜI GIAN</th>
        <th scope="col" class="col-5">ĐỊA CHỈ</th>
        <th scope="col">LOẠI</th>
        <th scope="col">NGƯỜI GỬI</th>
        <th scope="col">TRẠNG THÁI</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% reports.forEach((element, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td class=""><%= moment(element.created_at).format("DD-MM-YYYY") %></td>
        <td class="">
          <%= (element.location.address.length > 55 ?
          element.location.address.substring(0, 55) + '...' :
          element.location.address) %>
        </td>
        <td class="">
          <%= element.type %>
        </td>
        <td class=""><%= element.reporter.name %></td>
        <td class="">
          <% if (element.status === 'done') { %>
          <span class="badge bg-success w-100">Đã xử lí</span>
          <% } else if (element.status === 'processing') { %>
          <span class="badge bg-warning w-100">Đang xử lí</span>
          <% } else {%>
          <span class="badge bg-danger w-100">Chưa xử lí</span>
          <% } %>
        </td>
        <td class="">
          <a role="button" href="/district/report/view/<%= element._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (reports.length > 0) { %>
  <nav aria-label="Dashboard Pagination">
    <ul class="pagination justify-content-center mt-5">
      <% if (current == 1) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link">First</a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a href="/district/report?page=1" class="page-link">First</a>
      </li>
      <% } %> <% i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i
      != 1) { %>
      <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
      <% } %> <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %> <%
      if (i == current) { %>
      <li class="page-item disabled">
        <a href="#" class="page-link"><%= i %></a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a href="/district/report?page=<%= i %>" class="page-link"><%= i %></a>
      </li>
      <% } %> <% if (i == Number (current) + 4 && i < pages) { %>
      <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
      <% } %> <% } %> <% if (current == pages) { %>
      <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
      <% } else { %>
      <li class="page-item">
        <a href="/district/report?page=<%= pages %>" class="page-link">Last</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>
</div>
