<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <form method="POST" class="card bg-light mb-3" id="form">
    <!-- <div class="card-header">Xử lý báo cáo</div> -->
    <div class="card-body p-4">
      <h4 class="card-title py-2">Xử lý báo cáo</h4>
      <h6>Trạng thái xử lý<span class="text-danger"> *</span></h6>
      <div class="d-flex pb-4">
        <div class="form-check me-3">
          <input
            class="form-check-input"
            type="radio"
            id="flexRadioDefault0"
            name="status"
            disabled
            <%= report.status === 'pending' ? 'checked' : ''%>
          />
          <label class="form-check-label" for="flexRadioDefault0">
            Chưa xử lý
          </label>
        </div>
        <div class="form-check me-3">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="flexRadioDefault1"
            required
            <%= report.status === 'processing' ? 'checked' : ''%>
            value="processing"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Đang xử lý
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="flexRadioDefault2"
            <%= report.status === 'done'? 'checked' : ''%>
            value="done"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Đã xử lý xong
          </label>
        </div>
      </div>

      <label for="text-area" class="form-label pt-3">Cách thức xử lí<span class="text-danger"> *</span></label>
      <textarea name="response" class="form-control" id="text-area" name="response" rows="5" placeholder="Cách thức xử lí ..." value=""></textarea>

      <div class="d-flex justify-content-center pt-3">
        <a href="../view/<%= report._id %>" class="">
          <button type="button" class="btn btn-secondary me-4">Trở về</button>
        </a>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#confirmModal"
        >
          Xử lý báo cáo
        </button>
      </div>
    </div>
  </form>
  <!--Alert-->
  <div
    class="modal fade"
    id="confirmModal"
    tabindex="-1"
    aria-labelledby="confirmModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmModalLabel">Xác nhận</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xử lí báo cáo này?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button type="button" class="btn btn-primary" id="submit-btn">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("submit-btn").addEventListener("click", () => {
    form.submit();
  });
</script>