<div class="col p-3 border-start">
  <%- include('../../partials/header.ejs') %>
  <hr />
  <%- include('../../partials/flash.ejs') %>
  <h2 class="fw-semibold">THÔNG TIN CÁC YÊU CẦU CẤP PHÉP ĐÃ ĐƯỢC GỬI</h2>
  <div class="row justify-content-center align-items-end">
    <div class="col-6">
      <form
        role="search"
        method="GET"
        action="/department/request/filter"
        class="form-group"
      >
        <div class="row align-items-end">
          <div class="col-4">
            <label for="" class="form-label">Quận</label>
            <select
              class="form-select district-select"
              aria-label=""
              name="district_select"
            >
              <% districts.forEach(district => { %>
                <option value="<%= district._id %>" <%= district.name === selectedDistrict ? 'selected' : '' %>><%= district.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="col-4">
            <label for="" class="form-label">Phường</label>
            <select
              class="form-select ward-select"
              name="ward_select"
              aria-label=""
            ></select>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4">
      <form role="search" method="GET" action="/department/request/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          name="searchTerm"
        />
      </form>
    </div>
  </div>
  <table class="table border border-2 rounded py-3 mt-3">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col" class="col-5">Điểm đặt</th>
        <th scope="col">Bảng quảng cáo</th>
        <th scope="col" class="col-2">Công ty</th>
        <th scope="col" class="col-1" >Tình trạng</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% requests.forEach((request, index) => { %>
      <tr>
        <th scope="row"><%= perPage * (current - 1) + index + 1 %></th>
        <td class="">
          <%= (request.ads.location.address.length > 55 ?
          request.ads.location.address.substring(0, 55) + '...' :
          request.ads.location.address) %>
        </td>
        <td class=""><%= request.ads.type %></td>
        <td class="">
          <%= (request.company.name.length > 18 ?
          request.company.name.substring(0, 18) + '...' :
          request.company.name) %>
        </td>
        <td class="">
          <% if (request.status === 'pending') { %>
          <span class="badge bg-warning w-100">Chờ duyệt</span> <% } else if
          (request.status === 'accepted') { %>
          <span class="badge bg-success w-100">Đã duyệt</span> <% } else { %>
          <span class="badge bg-danger w-100">Không duyệt</span> <% } %>
        </td>
        <td class="">
          <a href="/department/request/view/<%= request._id %>">
            <i class="bi bi-eye-fill"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (requests.length > 0) { %> <%- include('../../partials/pagination.ejs')
  %> <% } %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var districtSelect = document.querySelector(".district-select");
    var wardSelect = document.querySelector(".ward-select");

    districtSelect.addEventListener("change", async () => {
      let selectedOption = districtSelect.options[districtSelect.selectedIndex];
      let district = selectedOption.value;
      const response = await fetch(`/utils/districts/${district}/wards`);
      const data = await response.json();
      populateWards(data.wards);
    });

    districtSelect.dispatchEvent(new Event("change"));
    function populateWards(wards) {
      wardSelect.innerHTML = "";
      let option = document.createElement("option");
      option.value = "Không";
      option.innerHTML = "Không";
      wardSelect.appendChild(option);

      wards.forEach((ward) => {
        let option = document.createElement("option");
        option.value = ward;
        option.innerHTML = ward;
        
        if ("<%= selectedWard %>" == ward) {
          option.selected = 'selected';
        }
        wardSelect.appendChild(option);
      });
    }
  });
</script>
